
.page-title {
    color: #909090;
    font-size: 28px;
    margin-top: 40px;
    padding: 0 0 35px;
    border-bottom: 1px solid #efefef;
}
  a{  color: #3a3a3a;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    text-align: right;
}
.border {
    border-bottom: 1px dotted #ced8df;
    margin: 0 0 50px;
    padding: 0 0 30px;
}
.slide-items img {
    width: 100%;
}
.slide-items .entry-meta {
    font-size: 11px;
    margin-top: 10px;
    width: auto;
}
.slide-items .post-format {
    margin-left: 70px;
    margin-bottom: 10px;
}
.slide-items .title {
    font-weight: bold;
}
.entry-meta a {
    color: #959393;
    display: inline-block;
    font-style: italic;
}
.entry-meta a:hover {
    color: #f15a23;
    text-decoration: none;
}
.slide-items .entry-body .title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-top: 20px;
}
iframe {
    width: 100%;
    height:400px;
}
.slick-slide img {
    opacity: 1;
}
.arrow-img .next-img, .arrow-img .prev-img {
    top: 50%;
    transform: translatey(-50%);
    }