body {
    background: #fff;
    border-top: 6px solid #3a3a3a;
    color: #909090;
    
}
h1, h2, h3, h4, h5, h6 {
    color: #474747;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 15px;}

.header {
    border-bottom: 1px solid #efefef;
    height: 86px;
    z-index: 97;
}
#logo {
    float: left;
    height: 86px;
}
.navbar {
	float: right;
}
.navbar .sub li{
	float: none;
}

ul li ul li {
	display: block;
}
.navbar > ul {
    margin: -6px 0 0;
}
.navbar li {
    list-style: none;
    float: left;
    margin: 0;
    position: relative;
}
.navbar a {
    border-bottom: 1px solid transparent;
    border-top: 6px solid transparent;
    color: #3a3a3a;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    letter-spacing: -0.08px;
    padding: 26px 20px 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    z-index: 98;
}
.navbar ul ul {
    background: #3a3a3a;
    -webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 92px;
    width: 200px;
    z-index: 99;
}
.navbar ul ul a:hover{
	    background: #f15a23;
    color: #fff;

}
.navbar ul ul ul {
	position: absolute;
    left: 100%;
    top:0;
    opacity: 0;
}
.navbar ul li:hover ul {
	display: block;
}
.navbar ul ul li:hover ul {
	opacity: 1;
}
.navbar ul ul a {
    border: 0;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #4c4c4c;
    color: #fff;
    display: block;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 11px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px 20px !important;
    text-align: left;
    text-transform: none;
}
.navbar a:after {
    color: #aeaeae;
    content: attr(data-description);
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    display: block;
    line-height: 0;
    margin: 3px 0 -3px;
    text-align: center;
    text-transform: lowercase;
}
.navbar a:hover, .navbar.hover > a, .navbar .current > a {
    border-bottom-color: #f15a23;
    border-top-color: #f15a23;
    color: #f15a23;
    background: #f8f8f8;
}
.current {
	 border-bottom-color: #f15a23;
    border-top-color: #f15a23;
    color: #f15a23;
    background: #f8f8f8;
}
.current:after {
    background: #f15a23;
    bottom: -2.5px;
    content: '';
    left: 50%;
    display: block;
    height: 5px;
    margin: 0 0 0 -2.5px;
    transform: rotate(45deg);
    position: absolute;
    width: 5px;
}
.slogan{
	    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
    letter-spacing: -0.1px;
}




.content {
    margin: 0 auto;
    position: relative;
    width: auto;
    padding-top: 40px;
}
.page-header {
    border-bottom: 1px solid #efefef;
    margin: -15px 0 40px;
    padding:0;
}
.page-title {
    margin-top: 0;
    font-size: 28px;
    padding: 0 0 35px;
}
.acc-trigger {
    border-top: 1px dotted #ced8df;
}
.acc-trigger span {
    display: block;
    outline: medium none;
    font-size: 12px;
    font-weight: bold;
    color: #959393;
    padding: 25px 20px 25px 55px;
    text-decoration: none;
    text-shadow: none;
    background:url(http://demo.samuli.me/smartstart/img/accordion-content-buttons.png) no-repeat 20px 23px;
}
.text {
    padding: 0 20px 25px 55px;
    font-size: 11px;
}
.acc-trigger .minus {
    background-position: 20px -88px;
    cursor: default;
    color: #f15a23;
}
.active {
    display: block;
}
.tabs-nav {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.tabs-nav li {
    float: left;
    line-height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    font-size: 11px;
}
.tabs-nav li.active {
    line-height: 31px;
}
.tabs-nav li:first-child a {
    border-left: 1px solid #eaeaea;
}
.tabs-nav li a {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-left: none;
    color: #959393;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 16px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
        transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}
.tabs-nav li.active a {
    background: #fff;
    border-bottom: 2px solid #eaeaea;
    border-top: 1px solid #f15a23;
    color: #f15a23;
}
.tabs-container {
    border: 1px solid #eaeaea;
    margin: -1px 0 20px;
    overflow: hidden;
    width: 100%;
    font-size: 11px;
}
.tab-content {
    padding: 20px;
    display: none;
}
.active-tab {
    display: block;
}
.error , .success , .info , .notice {
    display: block;
    padding: 10px 20px 10px 44px;
}
.error {
    background: #f9e5e6 url(http://demo.samuli.me/smartstart/img/icon-box-error.png) no-repeat 10px 9px;
    border: 1px solid #f7c7c9;
    border-left-width: 4px;
    color: #b3696c;
}
.success {
    background: #e3ebc6 url(http://demo.samuli.me/smartstart/img/icon-box-success.png) no-repeat 12px 8px;
    border: 1px solid #c2d288;
    border-left-width: 4px;
    color: #8fa442;
}
.info {
    background: #d8ecf5 url(http://demo.samuli.me/smartstart/img/icon-box-info.png) no-repeat 10px 8px;
    border: 1px solid #9ac9df;
    border-left-width: 4px;
    color: #528da9;
}
.notice {
    background: #fcf7d9 url(http://demo.samuli.me/smartstart/img/icon-box-notice.png) no-repeat 10px 9px;
    border: 1px solid #f5dc7d;
    border-left-width: 4px;
    color: #c4a21b;
}
.infobox {
    background: #fbfbfb;
    border: 1px solid #efefef;
    margin: 0 0 20px;
    padding: 25px;
    color: #474747;
    font-size: 17px;
}
.button {
    background: #f15a23;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 400;
    height: auto;
    overflow: visible;
    font-size: 12px;
    display: inline-block;
    padding: 5px 16px;
}
 .button:hover, .button:active, .button:focus{
    background: #3a3a3a;
    color: #fff;
    text-decoration: none;
}
hr {
    background: #efefef;
    color: #efefef;
    margin: 5px 0 25px;
    width: 1170px;
    margin: 0 auto;
}
.second h4 {
    font-size: 15px;
}
.second ul {
    padding: 0px;
}
.arrow li, .arrow-2 li, .circle li, .check li, .check-2 li, .star li, .plus li, .dash li {
    list-style: none;
    margin: 0;
    padding: 0 0 0 24px;
    font-size: 11px;
    border-top: 1px dotted #ced8df;
    }
.arrow li {
    border: none;
    background: url(http://demo.samuli.me/smartstart/img/list-arrow.png) no-repeat 5px 5px;
}
.arrow-2 li {
    background: url(http://demo.samuli.me/smartstart/img/list-arrow-2.png) no-repeat 2px 4px;
}
.circle li {
    background: url(http://demo.samuli.me/smartstart/img/list-circle.png) no-repeat 4px 5px;
}
.check li {
    background: url(http://demo.samuli.me/smartstart/img/list-check.png) no-repeat 3px 4px;
}
.check-2 li {
    background: url(http://demo.samuli.me/smartstart/img/list-check-2.png) no-repeat 0 4px;
}
.star li {
    background: url(http://demo.samuli.me/smartstart/img/list-star.png) no-repeat 0 1px;
}
.plus li {
    background: url(http://demo.samuli.me/smartstart/img/list-plus.png) no-repeat 3px 3px;
}
.dash li {
    background: url(http://demo.samuli.me/smartstart/img/list-dash.png) no-repeat 3px 8px;
}
.dropcap {
    background: #eaeaea;
    color: #777;
    display: inline-block;
    float: left;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 23px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    margin: 0 7px 0 0;
    text-align: center;
    width: 36px;
}
.dropcap.dark {
    background: #3a3a3a;
    color: #fff;
}
blockquote {
    background: #f8f8f8 url(http://demo.samuli.me/smartstart/img/quote.png) no-repeat 17px 21px;
    font: italic 15px/1.6 'PT Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    padding: 20px 20px 20px 55px;
    border:none;
}
.button.medium {
    font-size: 13px;
}
.button.large {
    font-size: 15px;
}