body {
    background: #fff;
    border-top: 6px solid #3a3a3a;
    color: #909090;

}


.header {
    border-bottom: 1px solid #efefef;
    height: 86px;
    z-index: 97;
}
#logo {
    float: left;
    height: 86px;
}
.nav-btn {
  display: none;
}
.navbar {
	float: right;
}
.navbar .sub li{
	float: none;
}

ul li ul li {
	display: block;
}
.navbar > ul {
    margin: -6px 0 0;
}
.navbar li {
    list-style: none;
    float: left;
    margin: 0;
    position: relative;
}
.navbar a {
    border-bottom: 1px solid transparent;
    border-top: 6px solid transparent;
    color: #3a3a3a;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    letter-spacing: -0.08px;
    padding: 26px 20px 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    z-index: 98;
}
.navbar ul ul {
    background: #3a3a3a;
    -webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 92px;
    width: 200px;
    z-index: 99;
}
.navbar ul ul a:hover{
	    background: #f15a23;
    color: #fff;

}
.navbar ul ul ul {
	position: absolute;
    left: 100%;
    top:0;
    opacity: 0;
}
.navbar ul li:hover ul {
	display: block;
}
.navbar ul ul li:hover ul {
	opacity: 1;
}
.navbar ul ul a {
    border: 0;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #4c4c4c;
    color: #fff;
    display: block;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 11px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px 20px !important;
    text-align: left;
    text-transform: none;
}
.navbar a:after {
    color: #aeaeae;
    content: attr(data-description);
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    display: block;
    line-height: 0;
    margin: 3px 0 -3px;
    text-align: center;
    text-transform: lowercase;
}
.navbar a:hover, .navbar.hover > a, .navbar .current > a {
    border-bottom-color: #f15a23;
    border-top-color: #f15a23;
    color: #f15a23;
    background: #f8f8f8;
}
.current {
	 border-bottom-color: #f15a23;
    border-top-color: #f15a23;
    color: #f15a23;
    background: #f8f8f8;
}
.current:after {
    background: #f15a23;
    bottom: -2.5px;
    content: '';
    left: 50%;
    display: block;
    height: 5px;
    margin: 0 0 0 -2.5px;
    transform: rotate(45deg);
    position: absolute;
    width: 5px;
}


.slogan{
	    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
    padding: 20px 0;
    letter-spacing: -0.1px;

}
/* slide1 */
.slider {
	width: 940px;
  height: 380px;
	margin:auto;
	overflow: hidden;
	position: relative;
}

.slider .slide {
  position: absolute;
    display: block;
}

.slider .slide-content {
	position: absolute;
	left:30px;
	bottom: 50px;
	padding: 20px 30px 30px;
	width: 225px;
	display: block;
	background-color: rgba(0, 0, 0, .6);
  z-index: 9999;
}
.slider .slide-content h2 {
    font-size: 20px;
    font-weight: 700;
}
.slider .slide-content p {
	font-size: 11px;
	display: inline-block;
}
.slider .slide-content .read-me {
    position: absolute;
    text-decoration:none;
    width: auto;
    cursor: pointer;
    background: #f15a23;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 400;
    height: auto;
    transition: background-color .2s ease;
    font-size: 11px;
    padding: 5px 14px;
    text-shadow: none;
}
.slider .content-arrows i {
	padding: 40px 2px;

  	background-color: rgb(241, 90, 35);
}

.slider .prev , .slider .next {
	 position: absolute;
  
}
.prev {
  top:51%;
}
.next {
   top:-1px;
}
.buttons {
	width: 940px;
	margin:auto;
	position: relative;
}
.buttons .buttton {
	width: 25%;
	float: left;
	padding: 20px;
	margin-top: -20px;
	    background: #f8f8f8;
    border-bottom: 1px solid #e9e9e9;
    border-top: 4px solid #dfdfdf;
    height:85px;
}
.buttons .buttton .dropcap {
	 background: #3a3a3a;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 3px 14px;
    font-size: 25px;
    float: left;
    margin-right:10px;
}
.buttons .buttton h5 {
	color: #3a3a3a;
    font: 700 14px/1.5 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin: 0;
}
.buttons .buttton .description {
    color: #959393;
    display: block;
    font-size: 11px;
    line-height: 12px;
}
.buttons .buttton:hover {
	background: #f0f0f0;
    color: #f15a23;
}
.buttons .active {
	border-top: 4px solid #f15a23;
}
.buttons .active h5 {
	color: #f15a23;

}
.slide-content{
    color: #bfbfbf;
    display: block;
    text-shadow: 0 -1px rgba(0, 0, 0, .75);
}


/* slide2 */
.section-title {
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin-top:40px;
    margin-bottom: 15px;
    left: 50%;
    color: #474747;
    transform: translate(-50%, 0%);
    width:940px;
    padding: 70px 0 0;
    font-size: 12px;
}
.arrow {
	float:right;
}
.next-icon ,.prev-icon {
	display: inline-block;
    background: #ddd;
    width: 20px;
    height: 20px;
    text-align: center;
}
.next-icon:hover ,.prev-icon:hover {
	background-color: #f15a23;
}
.second-slider-wrapper, .third-slider-wrapper{
	position: relative;
    display: block;
    border-top: 1px solid #efefef;
    left: 50%;
    transform: translate(-50%, 0%);
    width:940px;
    padding: 25px 0 0;
}
.inner-slider {
	overflow: hidden;
    top: 0px;
    margin: 0px;
    padding: 0px;


}
.slide-item {
    float: left;
    list-style: none;
    margin: 0 20px 0 0;
    overflow: hidden;
    position: relative;
    width: 220px;
    text-align: center;
}
.inner-slider .title {
    font-weight: 400;
    margin-bottom: 0;
    color: #3a3a3a;
    text-decoration: none;
}
 .inner-slider li .categories {
    color: #aeaeae;
    display: block;
    font-style: italic;
    margin: -1px 0 20px;
}
.second-slider-wrapper ul li:hover , .second-slider-wrapper ul li a:hover {
	text-decoration: none;
	    background: #f8f8f8;
    border-bottom: 1px solid #f15a23;
    color:#f15a23;
}
.second-slider-wrapper ul li a:hover img {
	opacity: 1;
}
.slick-slide img {
    opacity: 0.5;
}
.prev2 {
  border-left: 2px solid black;
  left: 10%;
  transform: rotate(-45deg);
}
.next2 {
  border-right: 2px solid black;
  right: 10%;
  transform: rotate(45deg);
}
/* slide3 */

.third-slider-wrapper img {
	width: 100%;
	height:auto;
	opacity: 1;
	margin: 0 auto 25px;
}
.slide-items .entry-meta {
    float: left;
    font-style: italic;
    letter-spacing: -0.5px;
    line-height: 1.3;
    margin: 0 12px 0 0;
    text-align: center;
    width: 33px;
}
.third-slider-wrapper .post-carousel .entry-meta {
    float: left;
    font-style: italic;
    letter-spacing: -0.5px;
    line-height: 1.3;
    margin: 0 12px 0 0;
    text-align: center;
    width: 33px;
}
.slide-items {
	margin-left:20px;
}
.slide-items .post-format {
    background-color: #ddd;
    background-image: url("http://demo.samuli.me/smartstart/img/icon-post-formats.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: #959393;
    cursor: pointer;
    display: block;
    height: 33px;
    text-align: left;
    text-indent: -9999px;
    width: 33px;
}

.slide-items .gallery {
	background-position: -33px 0;
}
.slide-items .video  {
	 background-position: -66px 0;
}
.slide-items .audio {
	background-position: -99px 0;
	}
.slide-items .link {
	background-position: -132px 0;
}
.slide-items .quote {
	background-position: -165px 0;
}
.slide-items .aside {
	background-position: -198px 0;
}
a:hover > .post-format {
    background-color: #f15a23;
    color: #f15a23;
}
.entry-body:hover .title , .entry-body a:hover{
    color: #f15a23;
    text-decoration: none;
}
.slide-items .date {
    display: block;
    margin: 8px 0 90px 0;
    font-size: 11px
    }
.slide-items .entry-body {
    margin: 0;
    text-align:left;
}
.slide-items .entry-body .title {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.slide-items p {
	font-size: 11px;
}
.image-gallery-slider {
	position: relative;
}
.image-gallery-slider .slick-slider {
	padding: 0;

}
.arrow-img .next-img , .arrow-img .prev-img {
 	position: absolute;
 	top: 12px;
    height: 50px;
    width: 25px;
    background: rgba(241, 90, 35, 0.6);
}
.arrow-img .next-img:hover, .arrow-img .prev-img:hover {
		background-color: rgba(241, 90, 35, 1);
}
.arrow-img .next-img {
	left:0;
}
.arrow-img .prev-img {
	right: 0;
}
.arrow-img i {
	margin-top:20px;
	margin-left: 10px;
}
iframe {
	margin-bottom: 15px;
	width:215px;
	height:120px;
	border: 0px;
}
.AudioPlayer {
	width: 220px;
	height:25px;
	background-color: black;
	margin-bottom: 15px;
}
.simple {
    margin-left: 50px;
    padding-left: 10px;
    border-left: 3px solid lightgray;
    font: italic 15px/1.6 'PT Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    color: #bbb;
    font-size: 13px;
}

    /* footer */
   #footer, #footer a, #footer-bottom, #footer-bottom a {
    color: #868686;
}
#footer {
    background: #3a3a3a;
    color: #868686;
    padding: 35px 0 30px;
    position: relative;
}
#footer:before {
    background: #fff;
    content: '';
    left: 50%;
    display: block;
    height: 15px;
    margin: 0 0 0 -7.5px;
    transform: rotate(45deg);
    position: absolute;
    top: -8px;
    width: 15px;
}
#footer .one-half, .one-third, .two-third, .one-fourth, .three-fourth {
    float: left;
    margin-right: 0px;
}
#footer .three-fourth {
    width: 65%;
    display: inline-block;
}
#footer-nav {
    border-bottom: 1px solid #4b4b4b;
    margin: 0 0 12px;
    padding: 0 0 6px;
}
#footer #footer-nav ul {
    margin: 0;
}
#footer #footer-nav li {
    background: none;
    border: none;
    display: inline-block;
    list-style: none;
    margin: 0 -3px 0 0;
}
#footer #footer-nav li:first-child a {
    border-left: none;
    padding-left: 0;
}
#footer #footer-nav li a {
    border-left: 1px solid #484848;
    font-size: 10px;
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
}
#footer .contact-info {
    margin: 0;
}
#footer .contact-info .address {
    background:url("http://demo.samuli.me/smartstart/img/icon-address.png") no-repeat 0 0;
}
#footer .contact-info li:first-child {
    margin-left: 0;
}
#footer .contact-info li {
    float: left;
    list-style: none;
    margin: 0 0 5px 24px;
    padding: 0 0 0 24px;
}
#footer .contact-info .phone {
    background: url("http://demo.samuli.me/smartstart/img/icon-phone.png") no-repeat 0 1px;
}
#footer .contact-info .email {
    background: url("http://demo.samuli.me/smartstart/img/icon-email-2.png") no-repeat 0 4px;
}
#footer .one-fourth {
    width: 25%;
    margin-left:5%;

}
#footer .title {
    border-bottom: 1px solid #4b4b4b;
    display: block;
    font-size: 10px;
    margin: 0 0 12px;
    padding: 0 0 12px;
    text-transform: uppercase;
}
#footer .social-links {
    margin: 0;
    padding: 0px
}
#footer .social-links li {
    display: inline-block;
    list-style: none;
    margin: 0 0 10px 10px;
    text-indent: -9999px;
}
#footer .social-links a {
    background-repeat: no-repeat;
    background-position: 0 -16px;
    display: block;
    height: 16px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 20px;
}
#footer .social-links li.twitter a {
    background-image: url("http://demo.samuli.me/smartstart/img/icon-twitter.png");
    background-position: 0 -15px;
    height: 15px;
    width: 21px;
}
#footer .social-links li.facebook a {
    background-image: url("http://demo.samuli.me/smartstart/img/icon-facebook.png");
}
#footer .social-links li.digg a {
    background-image: url("http://demo.samuli.me/smartstart/img/icon-digg.png");
    background-position: 0 -14px;
    height: 14px;
}
#footer .social-links li.vimeo a {
    background-image: url("http://demo.samuli.me/smartstart/img/icon-vimeo.png");
    background-position: 0 -15px;
    height: 15px;
}

#footer .social-links li.youtube a {
    background-image: url("http://demo.samuli.me/smartstart/img/icon-youtube.png");
    background-position: 0 -15px;
    height: 15px;
}
#footer .social-links li.skype a {
    background-image: url("http://demo.samuli.me/smartstart/img/icon-skype.png");
  
}
#footer .slider-wrapper {
  width: 600px;
  height: 300px;
  overflow: hidden;
}

#footer .inner-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;

}

.slide {
  width: calc(100% / 5);
  height: 100%;
  float: left;
  font-size: 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 30px;
  height: 30px;
  border-top: 2px solid black;
  position: absolute;
  cursor: pointer;
}

.prev {
  border-left: 2px solid black;
  right:  0;
 
}

.next {
  border-right: 2px solid black;
  right: 0;

}
    background-image: url("http://demo.samuli.me/smartstart/img/icon-youtube.png");
    background-position: 0 -15px;
    height: 15px;
}
.social-links li.skype a {
    background-image: url("http://demo.samuli.me/smartstart/img/icon-skype.png");
}
#footer a:hover, #footer-bottom a:hover {
    color: #f15a23;
        text-decoration: none;
}
#footer .social-links li a:hover {
    background-position: 0 0;
}
@media screen and (max-device-width: 1024px) {
    .navbar li {
       width: 100px;
   }
   .slider {
    width: 100%;
   }
   .buttons {
    width: 100%;
   }
   .buttons .buttton {
    padding: 10px;
   }
   .section-title {
    width: 100%;
   }
   .second-slider-wrapper, .third-slider-wrapper  {
    width: 100%;
   }
   #footer .social-links li {
    display: inline-block;
    list-style: none;
    margin: 0px 0 10px 6px;
  }
  @media (max-width: 760px) {
    .navbar > ul {
      width: 100%;
      padding: 0;
      display: none;
    }
    .navbar li {
      width: 100%;
    }
    .nav-btn {
     display: block;
      color: black;
    position: absolute;
    right: 30px;
    top: 33px;
    font-size: 20px;
    border: 2px solid gray;
    padding: 0 5px;
    border-radius: 10px;
    background: khaki;
}
  }
